.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin: 10px 0 10px 0;
}

.sidenav a:hover {
    color: #f1f1f1;
}
